@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", "Georgia", serif;
  /* background: #22c1c3;
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
  background: linear-gradient(to right, #fdbb2d, #22c1c3);*/
  background-image: url("images/nubes2.jpg");

  background-size: cover;
}

header {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  height: auto;
  padding: 4rem;
}

h1 {
  animation: tracking-in-contract 0.4s linear both;
  color: rgb(255, 255, 255);
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 2rem;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#city {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 250px;
  height: 350px;
  background-color: #9eb9f0;
  color: rgb(95, 45, 122);
  border-radius: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.2rem;
  transition: 0.4s;
}

li:hover {
  background: rebeccapurple;
  color: whitesmoke;
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

li:first-child,
li:last-child {
  width: 150px;
  height: 200px;
  font-size: 0.8rem;
}

li:first-child img,
li:last-child img {
  width: 50px;
  height: 50px;
}

li img {
  width: 180px;
  height: 180px;
}

p {
  color: white;
  font-size: 1.87rem;
  margin-bottom: 2rem;
}

#button {
  color: #fff;
  font-size: 1.4rem;
  padding: 0.9rem 5rem;
  border-radius: 3.12rem;
  background: #318aac;
  border: 2px solid #318aac;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1.3s cubic-bezier(0.22, 1, 0.22, 1);
}

#button:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5),
    0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 5rem;
  text-shadow: 1px 1px 6px #fff;
}

@media all and (max-width: 900px) {
  #cards {
    flex-direction: column;
  }

  p {
    text-align: center;
  }
}
