@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgb(29, 28, 28);
  color: white;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 4rem;
}

h1 {
  animation: tracking-in-contract 0.4s linear both;
  color: whitesmoke;
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.6em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
#city {
  font-size: 2rem;
}

ul {
  display: flex;
}

li {
  color: white;
  position: relative;
  padding: 20px;
  width: 300px;
  height: 300px;
  background: rgb(29, 28, 28);
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  box-shadow: 2px 2px 20px rgb(0, 0, 0, 60%);
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
}

li:nth-child(1) {
  -moz-transform: rotate(-18deg);
  -webkit-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  transform: rotate(-18deg);
  top: 20px;
  left: 30px;
}

li:nth-child(2) {
  -moz-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  top: -0px;
  left: -30px;
}

li:nth-child(3) {
  left: -80px;
  z-index: 5;
  top: -10px;
}

li:hover {
  z-index: 6;
  cursor: pointer;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

li img {
  width: 180px;
  height: 180px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-shadow: 5px -1px 9px rgba(0, 0, 0, 0.8);
}

#button {
  font-size: 1.4rem;
  border: 2px solid white;
  color: white;
  border-radius: 50px;
  padding: 15px 80px;
  background: gray;
  position: relative;
  overflow: hidden;
  transform: translateY(-50%);
}

@media all and (max-width: 1024px) {
  ul {
    flex-direction: column;
  }
  li {
    width: 200px;
  }
}
